@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Coiny&family=Uncial+Antiqua&display=swap");
@import "tailwindcss";

html,
body {
  overflow-x: hidden;
  overscroll-behavior: none;
}

#brand-header {
  font-family: "Anek Devanagari", sans-serif;
}
