* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin: 150px 300px;
}

.container.video {
  height: auto;
}

.inner-content {
  text-align: center;
}

button {
  margin-bottom: 15px;
}

#book-search {
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}
